
body{
background-color:black; 
front-family: Arial, Helvetica, sans-serif;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #FF2D00;
}
a:active {
  color:  #FFFFFF;
}
.asemointi{
  position: fixed;
  top: 100px;
  left 0px;  
  }
.nappula{
  background: blue;
  color:black;
  padding: 10px;
  border:none;
}

.nappula:hover{
  background-color: royalblue;
  color: White;
} 
.laatikko1{
  float: left;
  width:70%;
  border:2px solid white;
  padding: 10px;
  }
.alue1{
width: 70%;
margin: auto;
border: white; 
border-right-style:double;
border-left-style:double;
border-top-style:double;
border-bottom-style:double;
}

.yhteystiedot{
  float: left;
  width:30%;
  padding: 100px;
  background-color: royalblue;
  }
  .uutisia{
  float: left;
  width:20%;
  padding: 100px;
   background-color: royalblue;
  }
  .somet{
  float: left;
  width:20%;
  padding:100px;
   background-color: royalblue;
  }
  .logo{
  float: left;
  width:20%;
  padding: 100px;
   background-color: royalblue;
  }

 .teksti {
 color: white;
 }

 header{
  backgroung: black;
  padding: 10px;
  text-align:center;
  }
.lightmode {
  background-color: white;
  color: white;
}
.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.link{
border-bottom-style:dashed;
}

.laatikko1{
  float: left;
  width:25%;
  border:2px solid white;
  padding: 10px;
  box-sizing:border-box;
  margin-top:25px;
  color: white;
  }

